<a href="https://colab.research.google.com/github/TuscanoFranzIvan/58003-OOP/blob/main/Control_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If  and Elif Condition

In [8]:
if 3>5:
  print("3 is greater than 5")
elif 3<5:
  print("3 is less than 5")

3 is less than 5

if, elif, and else

In [10]:
if 3>5:
  print("3 is greater than 5")
elif 3<5:
  print("3 is less than 5")
else:
  print("3 is equal 5")

3 is less than 5

Application 1- create a python program that will compare if the student is in the Elementary, Secondary, and Tertiary level

In [28]:
print("type the grade level of student")
print("1 - 6 = Elementary")
print("7 - 12 = Secondary")
print("None of the choices above = Tertiary")

x = int(input())
if x ==1 or x ==2 or x ==3 or x ==4 or x ==5 or x ==6:
  print("Elementary")
elif x ==7 or x ==8 or x ==9 or x ==10 or x ==11 or  x==12:
  print("Secondary")
else:
  print("You're in Tertiary level")

type the grade level of student
1 - 6 = Elementary
7 - 12 = Secondary
None of the choices above = Tertiary
96
You're in Tertiary level

Short Hand If Statement

In [29]:
a = 1
b = 2

if a<b: print("a is less than b")

a is less than b

Short Hand If....Else

In [31]:
print("a is less than b")if a<b else print("a is greater than b")

a is less than b

Nested If

In [45]:
x = 41

if x>10:
  print("Above 10")
  if x>20:
    print("and also above 20")
  else:
    print("but not above 20")
  if x>30:
    print("and above 30")
  else:
    print("but not above 30")
  if x>40:
    print("and above 40")
  else:
    print("but not above 40")
  if x<50:
    print("but not below 50")
  else:
    print("above 50")
else:
  print("but not above 10")

Above 10
and also above 20
and above 30
and above 40
but not below 50

In [44]:
x = 41

if x>10:
  print("Above 10")
  if x>20:
    print("and also above 20")
    if x>30:
      print("and also above 30")
      if x>40:
        print("and also above 40")
        if x<50:
          print("but below 50")
        else:
          print("below 50")
      else:
        print("below 40")
    else:
      print("below 30")
  else:
    print("below 20")
else:
  print("below 10")

Above 10
and also above 20
and also above 30
and also above 40
but below 50

Example 1

In [52]:
print("Input Age")
x = int(input())

if x>18:
  print("Qualified to Vote")
else:
  print("Not Qualified to Vote")

Input Age
17
Not Qualified to Vote

Example 2

In [59]:
print("Input Number")
x = int(input())

if x==0:
  print("Zero")
elif x<0:
  print("Negative")
else:
  print("Positive")

Input Number
69
Positive

Example 3

In [80]:
print("Input Subject Grades")
u = float(input())
v = float(input())
x = float(input())
y = float(input())
z = float(input())

a = u*0.10 + v*0.20 + x*0.20 + y*0.30 + z*0.20 
print("Your average grade is",a)
if a>75:
  print("Passed")
elif a>70:
  print("Remedial")
elif a>0:
  print("Failed")
else:
  print("Negative/No output")

Input Subject Grades
-14.9
-15.9
70
89.9
90
Your average grade is 54.300000000000004
Failed