<a href="https://colab.research.google.com/github/TuscanoFranzIvan/58003-OOP/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Nested for loop

In [ ]:
adjective = ["big", "small", "tasty", "fruits", "juicy"]
fruits = ["banana", "grapes", "apple", "cherry", "mango"]

for x in adjective:
  for y in fruits:
    print(x,y)

big banana
big grapes
big apple
big cherry
big mango
small banana
small grapes
small apple
small cherry
small mango
tasty banana
tasty grapes
tasty apple
tasty cherry
tasty mango
fruits banana
fruits grapes
fruits apple
fruits cherry
fruits mango
juicy banana
juicy grapes
juicy apple
juicy cherry
juicy mango

break statement in for loop

In [6]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Print only Thursday using break statement in for loop

In [11]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x=="Thursday":
    print(x)
    break

Thursday

looping through string

In [12]:
for x in "Philippines":
  print(x)

P
h
i
l
i
p
p
i
n
e
s

while loop

In [14]:
i = 1
while i<=6:
  print(i)
  i+=1      #same as i = i+1

1
2
3
4
5
6

while loop using break statement

In [23]:
i = 1
while i<6:
  if i == 4: 
    print(i)
    break
  i+=1  
             #to display only 4

4

Application 1

In [36]:
i = "Hello"
x = 1
while x<=10:
    print(i,x)
    x+=1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [48]:
i = 3
while i<10: 
    print(i)
    i+=1

3
4
5
6
7
8
9