<a href="https://colab.research.google.com/github/TuscanoFranzIvan/58003-OOP/blob/main/Operations_and_Expression_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Opearators

In [1]:
print(10>9)
print(10==9)
print(10<9)
print(10==10)
print(9==9)

True
False
False
True
True

Bool() Function

In [8]:
print(bool(1))
print(bool("Tuscano"))
print(bool(-1))
print(bool(0))
print(bool(None))
print(bool([]))
print(bool({}))

True
True
True
False
False
False
False

In [11]:
w = int(input())

Tuscano

ValueError: ignored

Functions can Return a Boolean

In [28]:
def myFunction():
  return False or True
print(myFunction())

True

Python Operators

In [38]:
print(20+5)
print(20-5)
print(20*5)
print(20/5)
print(20//5)
print(20%5)
print(20**5)
print(323//5)
print(323%5)
print(323/5)
print(323**5)

25
15
100
4.0
4
0
3200000
64
3
64.6
3515706497843

Python Bitwise Operators

In [55]:
a = 60
b = 13
print(a & b)
print(a | b)
print(a << 1)
print(a << 2)
print(a >> 1)
print(a >> 2)

12
61
120
240
30
15

In [56]:
a = 90
b = 17
print(a & b)
print(a | b)
print(a << 1)
print(a << 2)
print(a >> 1)
print(a >> 2)

16
91
180
360
45
22

Python Assignment Operators

In [61]:
x = 10
x+=10 # same as x = x + 10
                # x = (10) + 10 = 10
print(x)
x-=10 # as x = x - 10
                # x = (10) - 10 = 0
print(x)

20
10

Logical Operators

In [62]:
t = True
s = False

print(t and s)
print(t or s)
print(not(t or s))

False
True
False

Identity Operators

In [68]:
#is is not

t = True
s = False

print(t is t)
print (t is not t)
print(s is s)
print(s is not s)
print(t is s)
print(t is not s)

True
False
True
False
False
True

Application 1 Create a standard calculator (MDAS)

In [71]:
x =  int(input())
y = int(input())
z = x + y
print("your addition is" , z)

10
50
your addition is 60

In [72]:
x = int(input())
y = int(input())
z = x - y
print("your subtraction is" , z)

10
10
your subtraction is 0

In [73]:
x = int(input())
y = int(input())
z = x * y
print("your multiplication is" , z)

10
10
your multiplication is 100

In [82]:
x = int(input())
y = int(input())
z = x // y
print("your division is" , z)

1000
10
your division is 100